// $font-george-x : "George X";
// $font-suisse-bp : "Suisse BP";


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @extend %cover;
  font-size: calc(100vw/1920 * 10);
  /* 1920 was the frame width in design file */
  line-height: 1;
  position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  overflow: hidden;


  @include media("<phone") {
    font-size: calc(100vw/750 * 10);
  }
}

body {

  @extend %description-16;


  font-family: $font-suisse-bp;
  // font-size: 16px;


  @extend %cover;


  // @include media("<phone") {
  //   font-size: 100px;
  // }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  vertical-align: middle;
}

.content {
  @extend %cover;
}
